name: Reusable Build Workflow

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs['node-version'] }}
      - run: npm install
      - run: |
          if npm run | grep build; then npm run build; else echo "No build script, skipping"; fi
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./dist/ || echo "No dist folder"
